@import url("./variables.css");
@import url("./extra-classes.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

#app {
    background: var(--primary-bg);
    width: 1512px;
    padding: calc(var(--padding-l) + 6px);
    font-family: var(--primary-ff);
    overflow-x: hidden;
    margin: 0 auto;
}

.logo {
    width: 94px;
    height: 54px;
}

.nav {
    width: 516px;
}

.nav-link {
    font-size: var(--fs-s);
    color: var(--primary-text-color);
}

.icons {
    width: 88px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
}

.main {
    margin-top: var(--margin-xxxl);
}

.info {
    width: 718px;
}

.main__title {
    margin-top: 0px;
    font-size: var(--fs-xl);
}

.main__paragraph {
    font-size: var(--fs-s);
    margin-top: var(--margin-m);
}

.poster {
    width: 655px;
    height: 655px;
}

.about-us__poster {
    width:560px;
    height:664px;
}

.button-wrapper {
    margin-top: calc(var(--margin-xxl) + 8px); 
}

.button {
    font-size: var(--fs-s);
    padding: 18px 67px;
    border: 1px solid var(--secondary-text-color);
    background: inherit;
}

.about-us > .info {
    width: 564px;
}

.about-us > .info > .paragraph {
    margin-top: var(--margin-l);
    font-size: var(--fs-s);
}

.benefit-icon {
    width: 48px;
    height: 48px;
    margin-right: var(--margin-m);
} 

.benefit-title {
    font-size: var(--fs-s);
}

.benefit-paragraph {
    margin-top: var(--margin-s);
}

.product__title {
    font-size: var(--fs-m);
    margin-top: var(--margin-s);
    display: flex;
    justify-content: center;
}

.product__image {
    width: 440px;
    height: 440px;
}

.banner__image {
    width : 1512px;
}

.title {
    text-align: center;
}

.comment {
    padding: calc(var(--margin-m) + 8px);
    width:  calc(474px - (var(--margin-m) + 8px));
    background: var(--secondary-bg);
}

.comment:first-of-type {
    position: relative;
    top: 45px;
    margin-right: var(--margin-m);
    z-index: 2;
} 

.comment.snow {
    background: var(--primary-bg);
    border: 1px solid black;
    position: relative;
    top: 10px;
    z-index: 1;
}

.person {
    display: flex;
    align-items: center;
}

.person__image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.person__name {
    color: var(--primary-text-color);
    font-family: var(--secondary-ff);
}

.person__paragraph {
    margin-top: var(--margin-m);
}

.add-cart {
    border: solid 1px #000;
    border-radius: 3px;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart img {
    width: 14px;
    height: 14px;
}

.price {
    font-size: 20px;
    color: #2E2927;
    margin-right: 20px;
}

.bestseller-title {
    height: 56px;
    align-items: center;
}

.bestseller-title .title.product__title {
    margin: 0;
}

.pagination {
    margin-top: 105px;
}

.pagination div {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    margin: 0 7px;
}

.pagination div {
    background-color: #DFDFDF;
    cursor: pointer;
}

.pagination div:first-child {
    background-color: #777777;
}

.button-catalog button {
    padding: 18px 67px;
    font-size: 18px;
    color: #2E2927;
    background-color: transparent;
}

.order {
    height: 800px;
    width: 1512px;
    background-image: url(../public/images/backgrounds/background-1.png);
    margin-left: -45px;
    padding-top: 99px;
    padding-left: 56px;
}

.order__title {
    font-family: var(--secondary-ff);
    font-size: 42px;
    color: #2E2927;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 60px;
}

.order form div {
    border-bottom: solid 1px #DFDFDF;
    width: 560px;
    margin-bottom: 28px;
}

.order input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 16px;
}

#order-attach {
    display: none;
}

.order-attach {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #777777;
    width: 191px;
    height: 48px;
    padding: 14px 12px 14px 17px;
    color: #fff;
    cursor: pointer;
}

.order input[type="submit"] {
    background-color: transparent;
    border: solid 1px #2E2927;
    width: 302px;
    height: 58px;
    font-size: 18px;
    margin-top: 70px;
    color: #2E2927;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 56px;
}

.info__logo img {
    width: 94px;
    height: 54px;
}

.socials {
    margin-top: 24px;
}

.socials img {
    margin-right: 20px;
    width: 19px;
    height: 19px;
}

.information div, .address div, .get-in-touch div {
    margin-bottom: 30px;
    color: #777777;
    font-size: 18px;
}

.information div:first-child, .address div:first-child, .get-in-touch div:first-child {
    font-size: 20px;
    font-weight: 500;
    color: #2E2927;
}

.get-in-touch div:last-child{
    padding-bottom: 14px;
    border-bottom: 1px solid #DFDFDF;
}

.get-in-touch img {
    height: 20px;
}

footer {
    padding-left: 56px;
    margin-top: 90px;
}

.footer-links {
    display: flex;
}

.footer-links a {
    margin-right: 18px;
    color: #2E2927;
    font-size: 18px;
}

.copyright {
    margin-top: 30px;
    font-size: 18px;
    color: #777777;
}


